@font-face {
  font-family: Spacemono;
  src: url(font/SpaceMono-Regular.ttf);
}

body {
    font-family: Spacemono;
    font-size: 14px;
}
.quiz-container {
  padding: 200px 0;  
  max-width: 600px;
    margin: auto;
}
.question {
    margin-bottom: 10px;
}
.options {
    list-style-type: none;
    padding: 0;
}
.options li {
    margin-bottom: 10px;
}
.result {
    display: none;
    margin-top: 20px;
}

.container {
    display: flex;
    min-height: 90vh; /* 100vh = 100% viewport height */
  }
  
  .left-half, .right-half {
    flex: 1;
    min-height: inherit; /* Inherit min-height from container */
  }

  .tg  {
    border-collapse:collapse;
    border-spacing:0;
  }
        .tg td{
          border-color:black;
          border-style:solid;
          border-width:1px;
          font-family:inherit;
          font-size:12px;
          overflow:hidden;
          padding:10px 15px;
          word-break:break-all;
        }
        .tg th{
          border-color:black;
          background-color: black;
          color: white;
          border-style:solid;
          border-width:1px;
          font-family:inherit;
          font-size:12px;
          font-weight:normal;
          overflow:hidden;
          padding:10px 15px;
          word-break:break-all;
        }
        .tg .tg-0pky{
          border-color:inherit;
          text-align:left;
          vertical-align:top;
        }
        .tg .tg-0lax{
          text-align:left;
          vertical-align:top;
        }
  .table-container{
    margin: auto;
  width: 95%;
  padding: 190px 0;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

header {
    position: relative;
    top: 0;
    left: 0;
    width: 1005;
    height: 80px;
}

header h4 {
    position: absolute;
    left: 10%;
    bottom: 1rem;
    font-size: 1.6rem;
}

/* splash screen */

.intro {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    transition: 1s;
}

.logo-header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.logo{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}

.logo.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}
